<%= @shiur.name %>

<br>

<h2>Who's learning?</h2>

<ul>
  <% @shiur.learners.each do |l| %>
    <li><%= l.name %> <i><%= "Active" if l.active %></i></li>
  <% end %>
</ul>

<br>

<%= link_to("Back", shiurim_path) %>

<br>

<%= link_to("Edit", edit_shiur_path(@shiur)) %>

<br>

<%= link_to "Delete", @shiur, method: :delete, data: { confirm: "Are you sure you want to delete this shiur?" } %>
